/* Базовые цвета (Basic colors) */
body {
  font-family: 'Scada', sans-serif;
  background-color: #ffffff;
}
main .header {
  background-color: #2b2c32;
}
main .header .text-header {
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff;
}
main .header .search {
  line-height: 7rem;
}
main .header .search input {
  border-radius: 0.8rem;
  height: 4rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: #343e5c;
}
main .header .search button {
  border: none;
  height: 4rem;
  width: 4rem;
  background-color: white;
  border-radius: 0.8rem 0 0 0.8rem;
}
main .header .wrap-block .text-header {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
}
.product {
  margin-top: 2rem;
}
.product .container-fluid {
  width: 89%;
}
.product-name {
  font-size: 4.2rem;
  font-weight: 900;
  color: #1c1e23;
}
.product-img {
  min-width: 45rem;
  min-height: 45rem;
  max-height: 50rem;
  max-height: auto;
  background-color: none;
  overflow: hidden;
}
.product-img img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.product-price {
  text-align: center;
}
.product-price p {
  font-family: 'Heebo', sans-serif;
  font-size: 7.2rem;
  font-weight: 700;
  color: #383838;
}
.product-btn {
  text-align: center;
  margin-top: 3rem;
}
.product-btn .btn-primary {
  background-color: #0085c8;
  width: 25rem;
  height: 6rem;
  font-size: 2rem;
  font-weight: 600;
  color: #dddddd;
}
.product-description {
  margin: 2rem 0 2rem 0;
  text-align: center;
}
.product-description p {
  font-size: 2.2rem;
  font-weight: 400;
  color: #1c1e23;
}
.product-parameteres {
  margin-top: 2rem;
}
.product-parameteres-mainTitle {
  font-size: 3rem;
  font-weight: 600;
  color: #1c1e23;
}
.product-parameteres-title {
  font-size: 2.2rem;
  font-weight: 400;
  color: #ffffff;
  background-color: #1c1e23;
}
.product-parameteres table {
  width: 100%;
}
.product-parameteres table :first-child {
  text-align: left;
}
.product-parameteres table th {
  padding-left: 1rem;
  border-radius: 0.4rem;
}
.product-parameteres table td {
  text-align: right;
  padding: 0rem 1rem 0 1rem;
  font-size: 2rem;
  font-weight: 400;
  color: #1c1e23;
}
.feedback {
  background-color: #1c1e23;
  margin-top: 2rem;
  height: auto;
}
.feedback a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
}
.feedback-title {
  margin-bottom: 1rem;
}
.feedback-title p {
  margin: 1rem 0 0 0;
  padding: 0 0 0 0;
  font-size: 3rem;
  font-weight: 400;
  color: #ffffff;
}
.feedback-title p :last-child {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
}
.feedback-title :last-child {
  margin: 0 0 0 0;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
}
.feedback-belly .avatar {
  display: inline-block;
  height: 10rem;
  width: 10rem;
  border-radius: 10rem;
  background-color: white;
}
.feedback-belly .personal-name {
  font-size: 2.4rem;
  font-weight: 400;
  color: #ffffff;
}
.feedback-belly .feedback-text p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #ffffff;
}
